<div ng-app="app" id="top">
  <div = ng-controller="forecastsCtrl" ng-init="setup(<%= params[:id] %>)">
    <div class="calendar" ng-model="eventSources" calendar="myCalendar" config="uiConfig.calendar" ui-calendar="uiConfig.calendar">     
    </div>
    <div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
      <h4>{{alertMessage}}</h4>
    </div>
  </div>
</div>