// Place all the styles related to the forecasts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.calendar{
  margin: 20px 10px 10px 10px;
}

.budget{
  margin-bottom: 40px;
}

.incometablespace{
  margin-top: 20px;
}